*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color: #CC2D2D;
}

main{
	margin-top: 5em;
}

.header-people{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #777;
	border-radius: 10px 10px 0px 0px;
	border: 4px solid #222;
	max-width: 800px;
	min-height: 300px;
	margin: auto;
	margin-top: 20px;
	border-bottom: none;
	padding: 1em;
}

.main-content-peo{
	display: flex;
	align-items: center;
}

.to-bottom{
	display: flex;
	flex-direction: column;
}

.pfp{
	min-width: 200px;
	height: 200px;
	background-color: #CC2D2D;
	border-radius: 50%;
	border: 4px solid #222;
	margin-right: 20px;
}

.name{
	margin-bottom: .5em;
	font-size: 1.8em;
	color: #eee;
	text-shadow: 2px 2px 1px #444;
}

.desc{
	background-color: #444;
	color: #ddd;
	border-radius: 5px;
	padding: 10px;
}

.languages-bar{
	background-color: #444;
	padding: 10px;
	display: flex;
	width: 100%;
	align-items: center;
	margin-top: 10px;
	max-width: 100vw;
	border-radius: 5px;
}

.centralizador{
	width: 100%;
	text-align: center;
	margin: auto;
}

.header-people .language-img{
	width: 50px;
}

.secao-v{
	background-color: #ccc;
	color: #222;
	border: 4px solid #222;
	border-radius: 0px 0px 10px 10px;
	max-width: 800px;
	margin: auto;
}

.body-people{
	padding: 10px;
	margin-left: 1.5em;
}

.body-people h2, li{
	margin-bottom: .5em;
}

.body-people li{
	font-size: 1.1em;
}

.projects{
	padding: 20px;
	margin-top: -25px;
}

.projects h2, .projects p{
	margin-bottom: 15px;
}

.projects p{
	font-size: 1.1em;
}

.projects a{
	color: #222;
}

.projects h2{
	margin-left: 15px;
}

.pos{
	max-width: 800px;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 2em;
}

.pos-content{
	display: flex;
	align-items: center;
}

#vick{
	margin: auto;
	image-rendering: pixelated;
	width: 110px;
}

@media (max-width: 800px){
	.secao-v, .header-people{
		border-left: none;
		border-right: none;
		border-radius: 0px 0px 0px 0px;
		width: 100%;
		max-width: 100vw;
	}
}

@media (max-width: 600px){
	.main-content-peo{
		flex-direction: column;
	}
	
	.name{
		text-align: center;
		margin: 20px 0px 20px -20px;
	}
	
	.pfp{
		width: 180px;
	}
}