*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #CC2D2D;
	color: #ccc;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

.header{
	background-color: #222;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.secao-v{
	background-color: #ccc;
	color: #222;
	border: 4px solid #222;
	border-radius: 5px;
	max-width: 1200px;
	height: 600px;
	margin: 20px auto;
	position: relative;
}

.header-people{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #777;
	border-radius: 5px;
	border: 4px solid #222;
	width: 700px;
	min-height: 300px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 1em;
}

.main-content-peo{
	display: flex;
	align-items: center;
}

.to-bottom{
	display: flex;
	flex-direction: column;
}

.pfp{
	width: 200px;
	height: 200px;
	background-color: #CC2D2D;
	border-radius: 50%;
	border: 4px solid #222;
	margin-right: 20px;
}

.name{
	margin-bottom: .5em;
	font-size: 1.8em;
}

.desc{
	background-color: #444;
	color: #ddd;
	border-radius: 5px;
	padding: 10px;
}

.languages-bar{
	background-color: #444;
	padding: 10px;
	display: flex;
	width: 100%;
	align-items: center;
	margin-top: 10px;
	max-width: 100vw;
	border-radius: 5px;
}

.centralizador{
	min-width: 215px;
	margin: auto;
}

.header-people .language-img{
	width: 50px;
}