*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color: #CC2D2D;
}

main{
	margin-top: 6em;
	color: #ccc;
	font-size: 1.1em;
	margin-bottom: 2em;
}

.cont-main{
	max-width: 700px;
	margin: auto;
}

.cont-header{
	background-color: #222;
	color: #ccc;
	padding: 15px;
	border-radius: 10px 10px 0px 0px;
}

.cont-header h1{
	text-align: center;
}

.cont-body{
	background-color: #ccc;
	padding: 20px;
	border-radius: 0px 0px 10px 10px;
	color: #111;
	border: 4px solid #222;
	border-top: none;
}

.cont-body h1{
	margin-bottom: 10px;
}

.cont-body ul{
	margin-left: 1em;
}

.cont-body li{
	margin: 5px;
}

.cont-body{
	display: flex;
	flex-direction: column;
}

.list-container{
	display: flex;
	flex-direction: column;
}

.link-container{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container-list{
	display: flex;
	flex-direction: row;
}

.link-header{
	display: flex;
	margin-left: 1em;
	margin-right: 1em;
	flex-direction: column;
	align-items: center;
	width: 100px;
	height: 100px;
	transition: 300ms;
	background-color: #222;
	padding: 1em;
	border-radius: 5px;
}

.link-header:hover{
	background-color: #333;
}

.link-header:active{
	background-color: #555;
}

.link-header img{
	width: 100%;
	margin-top: .6em;
}

.return{
	background-color: #222;
	color: #ccc;
	padding: 5px;
	border-radius: 5px;
	min-height: 2em;
	transition: 300ms;
	margin-top: 2em;
	box-shadow: 0px 2px 0px #111;
	width: 100%;
}

.textli{
	text-align: center;
	margin-top: .2em;
}

.green{
	background-color: #3D793D;
	box-shadow: 0px 2px 0px #405340;
}

@media (max-width: 700px){
	.cont-header, .cont-body{
		border-radius: 0px;
		border: none;
		border-top: 4px solid #222;
		border-bottom: 4px solid #222;
	}
}

@media (max-width: 410px){
	.container-list{
		display: block;
		flex-direction: column;
	}
	
	.container-list .link-header{
		margin-bottom: 1em;
	}
}